.App {
    text-align: center;
}

.Acme-logo {
    height: 40vmin;
    pointer-events: none;
}

.Acme-Card {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.Logo {
    max-height: 150px;
}