.Acme-Dashboard {
    margin-bottom: 50px;
}

.App {
    text-align: center;
}

.Acme-logo {
    height: 40vmin;
    pointer-events: none;
}

.Acme-Card {
    justify-content: center;
    align-items: center;
    height:100vh;
}

.Logo {
    max-height: 175px;
}